@import './mixins.scss';
@import './variables.scss';
.form-section {
  margin: 2rem auto;
  margin-top: 4rem;

  .form-center {
    @include section-center;
    max-width: 1000px;
    background-color: $clr-mainWhite;
    border-radius: 15px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
  }
  .form {
    padding: 1rem;

    &-action {
      margin: 1rem 0;

      & h4 {
        text-align: center;
        letter-spacing: $spacing;
      }
    }
  }
}
.text-part {
  display: flex;
  justify-content: center;
}
.form-input {
  flex: 9;
  max-width: 35rem;
  height: 3rem;
  appearance: none;
  border-radius: 10px;
  outline: none;
  border: none;
  background: $clr-primary-5;
  color: $clr-mainWhite;
  padding: 1rem;
  font-size: 1.3rem;
}
.btn-action {
  margin-left: 2rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}
