@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Redressed&display=swap');
$clr-primary: #cb4a54;
$clr-primary-1: #e8b1b6;
$clr-primary-2: #e5a4a9;
$clr-primary-3: #d97d85;
$clr-primary-4: #c63a46;
$clr-primary-5: #c63a46;
$clr-primary-6: #982c35;
$clr-mainWhite: #fff;
$clr-mainBlack: #000;
$clr-bg: #282d4d;
$clr-bg-2: #1e2139;
$clr-gray-1: #bab8c2;
$clr-gray-2: #b4b2bc;
$clr-gray-3: #d3d2d8;
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 5px;
$max-width: 1170px;
$phone-break: 768px;
// FONTS
$primary-font: 'Mochiy Pop P One', sans-serif;
